
MiseEnApplication_JEE/.settings/org.eclipse.wst.common.project.facet.core.xml

designPatterns/

MiseEnApplication_JEE/.classpath

MiseEnApplication_JEE/.project

clientServer/src/clientServer/UDPConnection.java

MiseEnApplication_JEE/.settings/.jsdtscope

MiseEnApplication_JEE/.settings/org.eclipse.wst.common.component

MiseEnApplication_JEE/.settings/org.eclipse.wst.jsdt.ui.superType.container

MiseEnApplication_JEE/.settings/org.eclipse.wst.jsdt.ui.superType.name

RemoteSystemsTempFiles/.project

MiseEnApplication_JEE/.settings/org.eclipse.jdt.core.prefs

MiseEnApplication_JEE/WebContent/META-INF/MANIFEST.MF
